* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 82.5%;
    height: 852px;
}


.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.22fr;
    gap: 20px;
    height: 100%;
}


.card {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(180deg, rgba(221, 212, 197, 0.15) 0%, #8E887E 100%);
}


.card-main {
    grid-row: 1 / 3;
    height: 100%;
    border-radius: 20px;
}

.card-main .card-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
}

.label {
    font-size: 12px;
    color: #888;
    letter-spacing: 1px;
}

.special-label {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    font-size: 15px;
    color: #a9a9a9;
    letter-spacing: 1px;
}

.special-label.mobile {
    display: none;
}

.title-group {
    margin-top: 10px; 
}

.sub-title {
    font-size: 31px;
    color: #fff;
    margin-bottom: -10px;
    line-height: 120%;
}

.main-title {
    font-size: 150px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: -0.07em;
    line-height: 110%;
    margin-left: -3%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    text-align: center;
    background: #F7F7F7;
}

.info-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    max-width: 544px;
    margin-bottom: 30px;
}

.info-heading.mobile {
    display: none;
}

.features {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.feature-item {
    width: 163px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.feature-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5px;
    height: 132px;
    background-color: rgba(0, 0, 0, 0.06);
}


.feature-item span {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.02em;
    text-align: center;
}

.feature-item .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item .icon img {
    width: 48px;
    height: 48px;
}

.card-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    background: transparent;
    padding: 0;
    overflow: hidden;
}

.btn-shop {
    position: absolute;
    z-index: 2;
    width: 124px;
    height: 48px;
    border-radius: 100px;
    border: none;
    background-color: #827C6C;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transform: translateY(38%);
    margin-left: 1%;
}

.bg-img {
    width: 88%;
    height: 78%;
    object-fit: contain;
    display: block;
    position: absolute;
    object-position: bottom center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card-shop .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    object-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: none;
}

@media (max-width: 1000px) {
    body {
        align-items: flex-start;
        padding-top: 14px;
        min-height: auto;
    }

    .container {
        width: 93.86%;
        height: auto;
    }

    .grid-layout {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .card-main {
        order: 1;
        height: 350px;
        border-radius: 16px;
    }

    .card-info {
        order: 2;
    }

    .card-shop {
        order: 3;
    }

    .card {
        background: linear-gradient(180deg, rgba(159, 169, 160, 0) 0%, #AEB5AA 100%);
    }

    .card-main .card-content {
        bottom: 20px;
        left: 20px;
    }

    .special-label.desktop {
        display: none;
    }

    .special-label.mobile {
        display: block;
        top: 20px;
        left: 20px;
        font-size: 12px;
    }

    .sub-title {
        font-size: 25px;
        font-weight: 600;
        font-style: SemiBold;
        letter-spacing: -3%;
        line-height: 120%;
        margin-bottom: 40px;
        margin-left: 5%;
    }

    .main-title {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 600;
        font-size: 80px;
        line-height: 54px;
        letter-spacing: -0.04em;
    }

    .card-info {
        order: 2;
        padding: 30px 20px;
        border-radius: 16px;
        background: #F7F7F7;
    }

    .info-heading.desktop {
        display: none;
    }

    .info-heading.mobile {
        display: block;
        font-size: 22px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .features {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        width: 100%;
    }

    .feature-item {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 16px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .feature-item:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .feature-item:last-child {
        border-bottom: none;
    }

    .feature-item:not(:last-child)::after {
        display: none;
    }

    .feature-item span {
        text-align: left;
        margin-left: 20%;
        font-weight: 600;
    }

    .feature-item:first-child span {
        font-weight: 500;
    }

    .feature-item .icon {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .feature-item .icon img {
        width: 40px;
        height: 40px;
    }

    .card-shop {
        height: 243px;
        border-radius: 16px;
    }

    .btn-shop {
        background-color: #3B82F6;
        transform: none;
        margin-left: 0;
        transform: translateY(33%);
    }

    .bg-img {
        width: 81.385%;
        height: 100%;
    }
}